@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
  --primary-font: "Baloo Da 2", sans-serif;
  --white: #ffffff;
  --text-color: #192045;
  --text-color2: #af2222;
  --primary-color: #ffd4d4;
  --stroke: #ffb7b7;
  --hover-color: #fdeaea;
  --gray: #b8b8b8;
  --background: #ffd4d4;
  --background2: #ffb7b7;
  --box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 17%);
  --dark-mode-bg: #292731;
  --dark-mode-text: #c0c5cb;
  --content-and-hover-bg: #414141;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

p {
  font-family: var(--primary-font);
}

span {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--primary-font);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-family: var(--primary-font);
}

button {
  border: none;
  outline: none;
  font-family: var(--primary-font);
}

input {
  outline: none;
  font-family: var(--primary-font);
}

label {
  font-family: var(--primary-font);
}

/*====================
Reset Default CSS End
====================*/

/* Finance - Pop Up Modal Start */

.modal {
  display: none; 
  position: fixed; 
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow-y: none !important;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#signup .modal-title {
  display: flex;
  justify-content: space-between;
}

#signup .modal-title h1 {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-color2);
  font-family: var(--primary-font);
  margin-bottom: 20px;
}

#signup .close-btn {
  cursor: pointer;
}

#signup .close-btn i {
  font-size: 30px;
  color: var(--text-color2);
}

#signup {
  width: 100%;
  background: var(--white);
  border-radius: 12px;
  padding: 30px 30px 20px 30px;
  font-family: var(--primary-font);
}

#signup label {
  width: 100%;
  font-family: var(--primary-font);
  margin-bottom: 20px;
}

#signup .input-header {
  width: 100%;
  font-family: var(--primary-font);
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 600;
}

#signup .radioOrCheckboxes h1 {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--primary-font);
  color: var(--text-color);
  margin: 0;
  padding-bottom: 4px;
}

#signup .radioOrCheckboxes .gender {
  display: flex;
  align-items: center;
}

#signup .radioOrCheckboxes .gender label {
  width: 130px;
  display: flex;
  align-items: center;
}

#signup .radioOrCheckboxes .gender label span {
  padding-left: 6px;
  font-size: 16px;
  font-weight: 600;
}

#signup .radioOrCheckboxes input {
  width: 18px;
  height: 18px;
  accent-color: var(--text-color);
  mix-blend-mode: multiply;
  border-radius: 10px !important;
  padding-top: 10px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#signup .radioOrCheckboxes .skills {
  display: flex;
}

#signup .radioOrCheckboxes .skills label {
  width: 180px;
  display: flex;
  align-items: center;
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

#signup .radioOrCheckboxes .skills label input {
  margin-right: 10px;
}

#signup .data input {
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  border: 1px solid #aaaaaa;
  padding: 10px;
  border-radius: 8px;
  font-family: var(--primary-font);
}

#signup .data textarea {
  width: 100%;
  height: 117px !important;
  border: 1px solid #aaaaaa;
  padding: 10px;
  border-radius: 8px;
  font-family: var(--primary-font);
  outline: none;
}

#signup .textarea {
  margin-top: 20px;
}

.upload-profile .item {
  display: flex !important;
  gap: 10px;
}
.upload-profile .item .img-box {
  width: 84px;
  height: 70px;
  border-radius: 6px;
  background: #dadada;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.profile-wrapper {
  width: 100%;
}
.profile-wrapper p {
  margin: -16px 0px 0px 0px;
  font-size: 14px;
  color: #aaaaaa;
}
.custom-file-input-wrapper {
  font-family: var(--primary-font);
  position: relative;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #666;
  background: #cdcdcd;
  cursor: pointer;
}

.custom-file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.custom-file-input-wrapper input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -2;
  cursor: pointer;
}
.custom-file-input-wrapper::before {
  content: "";
  position: absolute;
  margin: 0px 105px 0px auto; /* Adjust the position of the icon */
  width: 20px; /* Adjust the width of the icon */
  height: 20px; /* Adjust the height of the icon */
  background-image: url("../icons/upload-photo-icon.svg"); /* Replace with your icon path */
  background-size: cover;
  background-position: center;
}

.custom-file-input-wrapper::after {
  content: "Upload Photo";
  margin-right: -20px !important;
  /* Your existing styles for text */
}

.upload-profile .submit {
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  background: var(--text-color2);
  color: var(--white);
  padding: 10px;
  margin-top: 20px;
}

#signup .country select {
  width: 100%;
  border: 1px solid #aaaaaa;
  padding: 10px;
  border-radius: 8px;
  font-family: var(--primary-font);
  outline: none;
}

.datepicker-wrapper h1 {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--primary-font);
  color: var(--text-color);
  margin: 0;
  padding-bottom: 4px;
}

.datepicker-container {
  position: relative;
  display: inline-block;
  border: 1px solid #aaaaaa;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

#datepicker {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

.datepicker-container input {
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  border: none !important;
  font-family: var(--primary-font);
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid var(--gray) !important;
  background: #f6f6f6 !important;
  color: var(--text-color) !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: var(--white) !;
  font-weight: normal;
  color: var(--text-color) !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid var(--gray) !important;
  background: var(--background2) !important;
  font-weight: normal;
  color: var(--white) !important;
}

.ui-widget-header {
  border: 1px solid #dddddd;
  background: var(--background) !important;
  color: #333333;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  #signup {
    width: 100%;
    max-width: 90%;
    margin: auto;
    background: var(--white);
    border-radius: 12px;
    padding: 20px 0px 20px 0px;
    font-family: var(--primary-font);
  }

  #signup .radioOrCheckboxes .skills {
    margin-bottom: 10px;
  }

  #signup .radioOrCheckboxes .skills label {
    width: 100%;
  }

  .profile-wrapper p {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {

  #signup .modal-title h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  #signup .close-btn i {
    font-size: 22px;
  }
  
}
/* Finance Pop Up Modal End */