@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
  --primary-font: "Baloo Da 2", sans-serif;
  --white: #ffffff;
  --text-color: #192045;
  --text-color2: #9c2323;
  --primary-color: #ffd4d4;
  --stroke: #ffb7b7;
  --hover-color: #fdeaea;
  --gray: #b8b8b8;
  --background: #ffd4d4;
  --background2: #ffb7b7;
  --box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 17%);
  --dark-mode-bg: #292731;
  --dark-mode-text: #c0c5cb;
  --content-and-hover-bg: #414141;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

p {
  font-family: var(--primary-font);
}

span {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--primary-font);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-family: var(--primary-font);
}

button {
  border: none;
  outline: none;
  font-family: var(--primary-font);
}

input {
  outline: none;
  font-family: var(--primary-font);
}

label {
  font-family: var(--primary-font);
}

/*====================
Reset Default CSS End
====================*/

/* scrollbar */
html ::-webkit-scrollbar {
  width: 10px;
  background-color: var(--hover-color);
  cursor: pointer;
}

html ::-webkit-scrollbar-thumb {
  background: var(--dark-mode-text);
  width: 10px;
  border-radius: 5px;
}

html ::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
  cursor: pointer;
}
/* scrollbar */

/* Data table Start */

#data_table {
  width: 100%;
  background: var(--white);
  border-radius: 6px;
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.bredcam {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin: 0px 0px 10px 0px;
}

.bredcam span {
  font-size: 30px;
  padding: 0 6px;
  color: #aaaaaa;
}

.bredcam h1 {
  font-weight: 600;
  font-size: 32px;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--text-color2);
}

.bredcam a {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--text-color);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-container .search-item {
  display: flex;
  align-items: center;
}
.btn-secondary {
  font-family: var(--primary-font);
  font-size: 18px !important;
  font-weight: 500;
  background: none;
  color: var(--text-color);
  border: none;
  padding: 6px !important;
  margin-left: 10px;
}
.btn-secondary:hover {
  background: none;
  color: var(--text-color);
  border: none;
}

.btn-secondary:focus {
  color: var(--text-color) !important;
  background-color: var(--hover-color) !important;
  border-color: none !important;
  box-shadow: none !important;
  border-radius: 4px !important;
}

.dropdown-menu-custom {
  display: none;
  position: absolute;
  background: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
  padding: 0px 0;
  border: 1px solid var(--gray);
  border-radius: 6px;
  left: 10px !important;
}
.dropdown-item-custom {
  padding: 8px 12px;
  cursor: pointer;
  color: var(--text-color);
  font-family: var(--primary-font);
  display: block;
  text-align: center;
}
.dropdown-item-custom:hover {
  background-color: var(--hover-color);
  border-radius: 4px;
}

.file-export-item {
  display: flex;
  align-items: center;
}
.file-export-item .create-invoice {
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  white-space: nowrap;
  margin-bottom: 4px;
  height: 30px;
  border-radius: 5px;
  background: var(--text-color2);
  color: var(--white);
  font-family: var(--primary-font);
  border: none;
}
.file-export-item .create-invoice span {
  font-size: 28px;
  padding-right: 6px;
}
.file-export-item .create-invoice h3 {
  font-size: 16px;
  margin: 0;
  color: var(--white);
  font-family: var(--primary-font);
}
.file-export-item .dt-button {
  margin-left: 10px;
  padding: 0px !important;
  border: none !important;
  background: var(--white) !important;
}
.file-export-item .dt-button svg path {
  transition: 0.6s !important;
}

.file-export-item svg {
  width: 30px;
  height: 30px;
}
.file-export-item .dt-button svg:hover {
  fill: var(--text-color2) !important;
}
.file-export-item .dt-button svg:hover rect {
  stroke: none !important;
}
.file-export-item .dt-button svg:hover path {
  fill: var(--white) !important;
}
.file-export-item #copyButton svg:hover path {
  stroke: var(--white) !important;
  fill: var(--text-color2) !important;
}
.entries {
  display: flex !important;
  align-items: center;
  margin-bottom: 10px;
}

.entries h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  margin-right: 5px;
}

.page-number {
  background: rgb(214, 214, 214) !important;
  border: none !important;
  border-radius: 50% !important;
}

.custom-pagination .active {
  background: rgb(180, 115, 115) !important;
}

.custom-length-menu {
  background: none;
  border: 1px solid var(--gray);
  font-size: 14px;
  font-family: var(--primary-font);
  border-radius: 4px;
}

.custom-length-menu option {
  text-align: center !important;
}
.table-searchbox {
  display: flex;
  align-items: center;
  font-size: 14px !important;
  width: 300px;
  padding: 4px 10px;
  border: 1px solid var(--gray);
  border-radius: 4px;
}
.table-searchbox svg {
  margin-bottom: -5px;
}

#customSearchBox {
  border: none;
  width: 100%;
}

#example {
  font-family: var(--primary-font);
  text-align: center;
}

#example th {
  white-space: nowrap;
  font-size: 18px;
  color: var(--text-color);
}

#example th:nth-child(1) {
  padding-left: 0px !important;
  text-align: left;
}

#example th:nth-child(8) {
  padding-left: 0px !important;
  padding-right: 15px !important;
  text-align: right;
}

table.dataTable thead .sorting {
  background-image: url(../images/sort_both.png);
}
table.dataTable thead .sorting_desc {
  background-image: url(../images/sort_desc.png) !important;
}
table.dataTable thead .sorting_asc {
  background-image: url(../images/sort_asc.png) !important;
}
table.dataTable.display tbody tr > .sorting_1 {
  background: none !important;
}

#example th:nth-child(8).sorting {
  background-image: none !important;
  cursor: default;
}

#example td:nth-child(8) {
  padding-right: 10px !important;
  text-align: right;
}

#example tr {
  background: var(--white) !important;
  transition: 0.2s;
}

#example tbody tr:hover {
  background: var(--hover-color) !important;
}

#example .project {
  width: 20%;
  white-space: wrap;
}

#example .project span,
#example .serial span {
  font-size: 16px !important;
  font-weight: normal;
  color: var(--text-color);
}

#example .serial {
  padding-left: 0px;
}

#example .serial span {
  margin-left: -20px !important;
}

#example .invoice span {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
}

#example .client {
  position: relative;
  margin: auto;
  text-align: center !important;
}

#example .client-details {
  width: 100%;
  white-space: nowrap;
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center;
  background: none !important;
  margin-top: 8px;
}

#example .client-details .client-profile img {
  width: 42px !important;
  height: 42px !important;
  border-radius: 50%;
}

#example .client-details .details {
  display: block;
  margin-left: 10px;
}

#example .client-details h1 {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 700;
  font-family: var(--primary-font);
  text-align: left;
  margin-bottom: 8px;
}

#example .client-details h2 {
  font-size: 15px;
  font-weight: normal;
  font-family: var(--primary-font);
  text-align: left;
  margin: 0;
}

#example .total h1 {
  font-size: 16px;
  font-weight: 500;
}

#example .total h2 {
  font-size: 16px;
  font-weight: 500;
}

#example .total h2 span {
  font-size: 18px;
  color: #14cc52;
  padding-right: 5px;
}

#example .total h3 {
  font-size: 16px;
  color: var(--text-color2);
}

#example .date span {
  font-size: 16px;
  color: var(--text-color);
  font-weight: normal;
}

#example .status span {
  height: 10px;
  font-size: 16px;
  color: #14cc52;
  background: #bee9cc;
  padding: 0 10px;
  border-radius: 18px;
  font-weight: normal;
}

#example .status .unpaid {
  font-size: 16px;
  color: var(--text-color2);
  font-weight: normal;
  color: var(--text-color2);
  background: #ff9d84;
  padding: 0 10px;
  border-radius: 18px;
  font-weight: normal;
}

#example .edit svg {
  width: 42px !important;
  height: 42px;
}

#example .edit svg path {
  transition: 0.8s !important;
}

#example .edit svg:hover rect {
  fill: var(--text-color2) !important;
}

#example .edit svg:hover path {
  fill: var(--white) !important;
}

#example.dataTable {
  border: none !important;
}

#example td {
  white-space: nowrap;
  vertical-align: super !important;
  border-top: none !important;
  border-bottom: 1px solid rgb(245, 245, 245);
}

#example.dataTable thead th {
  border-bottom: 1px solid rgb(245, 245, 245);
}

.button-container .custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-pagination .button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color2);
  cursor: pointer;
  border-radius: 4px;
}

.custom-pagination button.disabled {
  background-color: #f3f3f3;
  cursor: not-allowed;
  display: none;
}

.custom-pagination .page-number {
  width: 28px;
  height: 28px;
  font-weight: 500;
  border-radius: 50%;
  margin: 3px 5px 0px 5px;
  background: var(--white) !important;
  color: var(--text-color2) !important;
  cursor: pointer;
  border-radius: 4px;
}

.custom-pagination .page-number.active {
  background-color: var(--text-color2) !important;
  color: var(--white) !important;
}

.copyright p {
  font-size: 18px;
  font-weight: normal;
  color: var(--text-color);
  padding: 20px 0;
  margin: 0;
}

.dataTables_info {
  margin: 20px 0 !important;
}

.table-wrapper::-webkit-scrollbar {
  height: 10px !important;
  background-color: rgb(221, 221, 221);
  cursor: pointer;
  border-radius: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: var(--background2);
  height: 10px !important;
  border-radius: 5px;
  cursor: pointer;
}

.table-wrapper {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

@media screen and (max-width: 1350px) {
  #example {
    width: 1100px !important;
  }

  #example .project {
    padding: 8px 30px !important;
  }

  #example .total {
    padding: 8px 30px !important;
  }
}

@media screen and (max-width: 1200px) {
  .file-export-item svg {
    width: 30px;
    height: 30px;
  }

  .table-searchbox {
    width: 200px;
  }

  .file-export-item .create-invoice {
    white-space: nowrap;
    padding: 0px 8px;
    height: 30px;
  }

  .file-export-item .create-invoice h3 {
    font-size: 14px !important;
  }

  .file-export-item .create-invoice span {
    font-size: 18px !important;
    padding: 2px;
  }
  .btn-secondary {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 992px) {
  .button-container {
    display: block;
    justify-content: center;
  }
  .file-export-item {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .button-container .search-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table-searchbox {
    width: 100%;
  }
  .dropdown-menu-custom {
    left: -66px !important;
  }
}

@media screen and (max-width: 576px) {
  .file-export-item svg {
    width: 24px;
    height: 24px;
  }

  .file-export-item .dt-button {
    margin-left: 4px;
  }

  .file-export-item .create-invoice {
    white-space: nowrap;
    padding: 0px 4px;
    height: 28px;
  }

  .file-export-item .create-invoice h3 {
    font-size: 12px !important;
    margin-bottom: -2px;
  }

  .file-export-item .create-invoice span {
    font-size: 18px !important;
    padding: 2px;
  }
}

/* Data table End */
